@import "./commonElements/commons.scss";

footer {
    margin: 55px 0px 0px;

    .first {
        padding: 0px 20px;
        position: relative;
        height: 725px;
    }

    .logo-container {
        padding-top: 200px;
        position: relative;
    }

    .first > img {
        position: absolute;
        height: 725px;
        right: 0;
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 65px;
        transform: translateY(-50%);
        span {
            font-size: 26px;
            line-height: 29px;
        }

        .letter {
            font-size: 40px;
            line-height: 43px;
            padding: 20px;
            background-color: $pale-gold;
            color: $white;
        }

        .name {
            margin-left: 17px;
        }
    }

    .note p {
        font-size: 16px;
        line-height: 26px;
    }

    .contacts {
        margin-top: 50px;
    
        > div {
            display: flex;
            gap: 25px;
            padding-top: 50px;

            div{

                h5 {
                    font-size: 20px;
                    line-height: 24px;
                }

                h6 {
                    font-family: $forPlainText;
                    font-size: 14px;
                    color: $dark-grey;
                    line-height: 14px;
                }
            }
        }
    }

    .last {
        height: 94px;
        background-color: $foot-grey;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        letter-spacing: -0.48px;

        p {
            margin: 0px 20px;
            color: $dark-black;
            font-size: 16px;
            line-height: 19px;
            font-weight: 700;
        }
    }
}