//colors
$darker-black: #111;
$dark-black: #222;
$medium-black: #292929;
$light-black: #333;
$white: #FFF;
$foot-grey: #F8F8F8;
$light-grey: #F9F9F9;
$pale-grey: #C2C2C2;
$smooth-grey: #BDBDBD;
$grey: #777;
$dark-grey: #686868;
$pale-gold: #BEAD8E;
$red: #DE5777;

//fonts
$forBigText: "Old Standard TT";
$forNiceText: Archivo;
$forPlainText: Roboto;